@media screen and (max-width: 1165px) {

    header{
        height: 742px;
        background-position: center 0px;
        background-size: 1460px;

    }
    .heroes{


        top: -118px;
        transform: scale(0.5);


    }
    #wavesContainer{
        bottom: -57px;
        transform: scale(0.7);
        right: -2466px;
    }

    #mainBtn{
        margin-top: -42px;
        transform: scale(0.5);
    }
    #mainDialog{
        font-size: 30px;
        line-height: 52px;
    }
    .underTitle{
        font-size: 12px;
        margin-top: -24px;
    }
    .sline{
        font-size: 11px;
    }
    .fline{
        font-size: 12px;
    }
    .phones{
        min-width: 272px;
    }
    .logo{
        transform: scale(0.6);
        margin-left: -20px;
        margin-top:20px;
    }
    .baseNav{
        min-width: 388px;
    }

    .contentContainer{
        width: 130%;
        justify-content: space-evenly;
        margin-left: -15%;
        transform: scale(0.70)
    }

    #happyBirthday .contentAnimation{

        position: relative;
        left: -10%;
    }
    .contentMarginTop {
        margin-top: -50px;
    }

    #inviteToCelebrate .contentAnimation{
        position: relative;
        left: -90px;
    }
}

@media screen and (max-width: 1050px) {
    /*#happyBirthday .contentAnimation {*/
    /*    position: relative;*/
    /*    left: -27%;*/
    /*}*/

    .contentContainer{
        width: 150%;
        justify-content: space-evenly;
        margin-left: -15%;
        transform: scale(0.50);
    }
    .contentContainer .contentText:nth-child(1){
        position: relative;
        left: -25%;
    }
    .contentContainer .contentAnimation:nth-child(1){
        position: relative;
        left: -24%;
    }
    #happyBirthday .contentAnimation {
        position: relative;
        left: -25%;
    }
    #inviteToCelebrate .contentAnimation {
        position: relative;
        left: -25%;
    }
}

@media screen and (max-width: 1065px) {
    #helpToChoose {
        min-height: 1706px;
    }
}
