@media screen and (max-width: 770px) {
    header{
        height: 710px;
        background-position: center 0px;
        background-size: 1120px;

    }
    .heroes{
        margin-left: 0px;
        top: -118px;
        transform: scale(0.3);


    }
    #wavesContainer{

        bottom: -57px;
        transform: scale(0.7);
        right: -2566px;
    }

    #mainBtn{
        position: absolute;
        top: 650px;
        transform: scale(1.1);
        z-index: 1;
    }
    #mainDialog{
        margin-top: 100px;
        font-style: normal;
        font-weight: 700;
        font-size: 23px;
        line-height: 26px;
    }
    .underTitle{
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 20px;
        text-align: center;
    }
    .sline{
        display: none;
    }
    .fline select{
        display: none;
    }
    .fline{
        justify-content: end;
    }
    .phones{
        display: none;
    }
    .logo{
        transform: scale(1);
        margin-top: 50px;
        margin-left: 14px;
    }
    .baseNav{
        display: none;
    }
    .localisation{
        transform: scale(1.2);
        padding-top: 50px;
    }
    .tmpBR{
        display: block;
    }

    /*-------------- main content*/
    .contentH2,.contentH3,.contentSmallText, .contentMediumText{
        text-align: center;
    }
    .contentH2{
        font-family: 'Balsamiq Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 48px;
    }
    .contentMediumText{
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 22px;
        text-align: center;
    }

    .contentContainer{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .contentAnimation{
        transform: scale(0.6);
    }
    .contentText{
        width: 100%;
    }


    /*------ aboutas*/
    #aboutAs{
        height: 991px;
    }
#aboutAs .contentAnimation{
    display: flex;
    justify-content: center;
}

/*-------------- forms of magik*/
    #formOfMagic{
        background: url("images/formofmagik/backforphone.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
    }
    .application{
        padding-left: 5%;
    }
    .input{
        width: 90%;
    }
    /*---------- happy birth*/
    #happyBirthday{
        background: url("images/happybirthday/mobileback.png");
        background-repeat: no-repeat;
        background-size: cover;
    }

    /*---------- tarifs*/
    #contain{
        flex-direction: column;
    }
    .item{
        width: auto;
        align-items: center;
    }
    .li{
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 26px;
    }
}