@media screen and (max-width: 376px) {
 .logo{
     transform: scale(0.6);
     margin-left: -10px;
     margin-top:-60px;
 }
    .localisation{
        transform: scale(0.9);
        margin-right:-50px;
    }
    #labelBtnMobileMenu {
        margin-right:-20px
    }
    .contentAnimation{
        transform: scale(0.35);
    }
    #happyBirthday .contentContainer{
        margin-top: -220px;
    }
    #aboutAs .contentAnimation{
        right: -54px;
    }

}