@media screen and (max-width: 425px) {

    .btnMobileMenu{
        top: 26px;
        right: 0;
    }
    #labelBtnMobileMenu{
        top: 26px;
        right: 0;
    }
    .mobileDetailsHeader {
        margin-top: 50px;
    }

    .logo{
       transform: scale(0.8);
        margin-top: 0;
    }
    .headerContainer{
        padding-top: 0;
    }

    .localisation{
        margin-right: -35px;
    }

    .contentH2{
        font-family: 'Balsamiq Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 40px;

        text-align: center;;
    }
    .contentMediumText{
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
    }
    .contentSmallText{
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
    }

    .contentH3{
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 27px;
        text-align: center;
    }

    #aboutAs .contentAnimation{
        margin-top: -130px;
    }
    .mobileHideTextBr{
        display: none;
    }

    #happyBirthday .contentH2 span{
        font-size: 24px;
        line-height: 33px;
    }

    #happyBirthday{
        background-position: center;
    }

    .contentAnimation {
        transform: scale(0.5);
    }

    .tariff{
        font-size: 34px;
        margin-top: 2%;
    }
}