@media screen and (max-width: 425px) {

    .logo{
       transform: scale(0.8);
        margin-top: 0;
    }
    .headerContainer{
        padding-top: 0;
    }

    .localisation{
        margin-right: -35px;
    }

    .contentH2{
        font-family: 'Balsamiq Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 48px;
    }
    .contentMediumText{
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
    }

    #aboutAs .contentAnimation{
        margin-top: -130px;
    }
}