
@media screen and (max-width: 425px) {

    .inst_logo_top{
        top: 50px;
        right: 92px;
        position: absolute;
    }


    .textMarginTop {
        margin-top: -92px;
    }

    .btnMobileMenu{
        top: 26px;
        right: 0;
    }
    #labelBtnMobileMenu{
        transform:scale(0.7);
        top: 18px;
        right: 0;
    }
    .mobileDetailsHeader {
        margin-top: 45px;
        margin-right: 5px;
    }

    .logo{
       transform: scale(0.8);
        margin-top: -50px;
    }
    .headerContainer{
        padding-top: 0;
    }

    .localisation{
        margin-right: -35px;
    }

    .contentH2{
        font-family: 'Balsamiq Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 40px;

        text-align: center;;
    }
    .contentMediumText{
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
    }
    .contentSmallText{
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
    }

    .contentH3{
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 27px;
        text-align: center;
    }
    #aboutAs{
        height: 698px;
    }

    #aboutAs .contentAnimation{
        margin-top: -130px;
        top: -30px;
    }

    .application{
        padding-right: 5%;
    }
    .mobileHideTextBr{
        display: none;
    }
    #formOfMagic{
        height: 767px;
        background-position: bottom right;
    }

    #happyBirthday .contentH2 span{
        font-size: 24px;
        line-height: 33px;
    }

    #happyBirthday{
        background-position: center;
        min-height: 1281px;
    }
    #shouPrograms {
        height: 783px;
    }
    #shouPrograms .contentText {
        margin-top: -176px;
    }
    #masterClasses {
        height: 770px;
    }

    #masterClasses .contentText {
        margin-top: -170px;
    }
    #calendarCelebrate {
        height: 796px;
    }
    #calendarCelebrate .contentText {
        margin-top: -168px;
    }

    #calendarCelebrate .contentContainer {
        margin-top: -216px;
    }

    #inviteToCelebrate {
        height: 762px;
    }

    #inviteToCelebrate h2{
        margin-bottom: -15px;
    }

    #inviteToCelebrate .contentAnimation{
        transform: scale(0.4);
    }

    .smallTxtInvite{
        font-size: 27px;
    }

    #inviteToCelebrate .contentText {
        margin-top: -200px;
    }

    #sweets {
        height: 736px;
    }

    #sweets .contentText {
        margin-top: -210px;
    }
    #externalSupport {
        height: 661px;
    }

    #externalSupport .contentContainer {
        margin-top: -296px;
    }

    #externalSupport .contentText {
        margin-top: -242px;
    }

    .contentAnimation {
        transform: scale(0.5);
    }

    .tariff{
        font-size: 34px;
        margin-top: 2%;
    }

    #formOfFairy {
        height: 762px;
        background-position: bottom right;
    }

    .wavesBotContainer{
        bottom: -90px;
        transform: scale(0.5);
    }

    .btnUp {
        bottom: 14px;
    }
}
@media screen and (max-width: 376px) {
    .logo {
        transform: scale(0.6);
        margin-left: -10px;
        margin-top: -60px;
    }
    #labelBtnMobileMenu {
        margin-right: -20px;
    }
    .localisation {
        transform: scale(0.9);
        margin-right: -50px;
    }
}
