#sliderSection{
    /*min-height: 800px;*/
}
.sliderMainContainer{

    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 520px;
}
#sliderContainer{
    left: 6%;
    position: relative;
    width: 85%;
    max-width: 1200px;

    height: 400px;
    display: flex;
    /* align-content: flex-end; */
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}
.sliderBtn{
    width: 68px;
    height: 68px;
    position: relative;
    /*top:170px;*/
    z-index: 5;

}
#sliderBthLeft{
    background: url("images/lol/sliderBtnLeft.png");
    left: 4%;
    background-size: contain;
    background-repeat: no-repeat;
}
#sliderBthRight{
    background: url("images/lol/sliderBtnRight.png");
    right: 4%;
    background-size: contain;
    background-repeat: no-repeat;
}
.sliderItem{
    position: absolute;
    width: 450px;
    height: 300px;
    opacity: 1;
    border-radius: 40px;
    transition: 0.5s;
    background-repeat: no-repeat;
    background-size: cover;
}
.sliderItem:first-child,
.sliderItem:last-child{
    opacity: 0.5;
    transform: scale(0.8);
    z-index: 1;
}
.sliderItem:last-child{
    left: 59%;
}
.sliderItem:first-child{
    left: -20%;
}
.sliderMainItem{
    transform: scale(1.5);
    left: 21%;
    z-index: 2;
}


/*.inRemoveProcessLeft{*/
/*    left: -100%;*/
/*}*/
/*.inRemoveProcessRight{*/
/*    right: -100%;*/
/*}*/
#underSlide img{
    width: auto;
    height: fit-content;
}
#underSlide span{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #636061;
}
.removeWidth{
    /*position: absolute;*/
}
@keyframes moveright {
    from{

        margin-right: -180px
    }
    to{
        margin-right: 0;

    }
}

@media screen and (max-width: 1441px) {
    #sliderContainer{
        left: 10%;
    }
}

@media screen and (max-width: 1368px) {
    .sliderItem {
        position: absolute;
        width: 225px;
        height: 150px;
        border-radius: 30px;
    }
    .sliderMainContainer{
        height: 260px
    }


    #sliderContainer{
        width: 600px;

        left: 11%;

    }
}
@media screen and (max-width: 700px) {
    .sliderItem {
        position: absolute;
        width: 150px;
        height: 100px;
        border-radius: 20px;
    }
    .sliderMainContainer{
        height: 200px;
    }
    #sliderContainer{
        width: 400px;
        left: 0;
    }
    .sliderBtn {
        width: 45px;
        height: 45px;
    }
}
@media screen and (max-width: 444px) {
    #sliderContainer{
        width: 310px;
    }
    #sliderBthLeft{
        left: 3%;
    }
    #sliderBthRight{
        right: 3%;
    }
    .sliderItem {
        position: absolute;
        width: 59%;
        height: 100px;
        border-radius: 15px;
    }
    .sliderMainItem{
        transform: scale(1.9);

    }
}
@media screen and (max-width: 353px) {
    #sliderContainer{
        width: 280px;
    }
    #sliderBthLeft{
        left: 8%;
    }
    #sliderBthRight{
        right: 8%;
    }
    .sliderItem {
        position: absolute;
        width: 180px;
        height: 100px;
        border-radius: 11px;
    }
}
