#sliderSection{
    min-height: 800px;

}
.sliderMainContainer{
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 520px;
}
#sliderContainer{
    position: relative;
    width: 85%;
    max-width: 1147px;
    height: 400px;
    display: flex;
    /* align-content: flex-end; */
    justify-content: space-around;
    align-items: center;
    transition: 0.5s;
}
.sliderBtn{
    width: 68px;
    height: 68px;
    position: relative;
    /*top:170px;*/
    z-index: 5;
}
#sliderBthLeft{
    background: url("images/lol/sliderBtnLeft.png");
    left: 4%;
}
#sliderBthRight{
    background: url("images/lol/sliderBtnRight.png");
    right: 4%;
}
.sliderItem{
    position: relative;
    min-width: 450px;
    height: 300px;
    opacity: 1;
    border-radius: 40px;
    transition: 0.5s;
    background-repeat: no-repeat;
    background-size: cover;
}
.sliderItem:first-child,
.sliderItem:last-child{
    opacity: 0.5;
    transform: scale(0.8);
    z-index: 1;
    position: relative;
}
.sliderItem:last-child{
    right: 10%;
}
.sliderItem:first-child{
    left: 10%;
}
.sliderMainItem{
    transform: scale(1.5);
    z-index: 2;
}


.inRemoveProcessLeft{
    margin-left: 0;
    animation-name: moveright;
    animation-duration: 0.5s;
}
.inRemoveProcessRight{
    margin-right: 0;
    opacity: 0.5;
}
#underSlide img{
    width: auto;
    height: fit-content;
}
#underSlide span{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #636061;
}
.removeWidth{
    /*position: absolute;*/
}
@keyframes moveright {
    from{
        opacity: 0;
        margin-right: -180px
    }
    to{
        margin-right: 0;
        opacity: 0.5;
    }
}
/*//1526*/
