.animatorsBtn{
    left: 74px;
}
@media screen and (max-width: 770px) {
    header {
        background: url("../images/lol/Frame 51 (1).png");
        height: 900px;
        background-size: cover;
        background-position-y: 35%;
        background-repeat: no-repeat;
    }
    #quests .questsFlex img {
        width: 171px;
    }
}
@media screen and (max-width: 600px) {
    header{
        background-position-y: -10%;
    }
}
@media screen and (max-width: 525px) {
    header{
        background-position-y: -98%;
    }
}
@media screen and (max-width: 425px) {
    header {
        height:700px;
        background: url("../images/lol/Frame 51 (1).png");
        background-size: cover;

    }
    #quests .questsFlex img {
        width: 86%;
    }

    #mainBtn {
        top:280px;
    }
    .horizontal{
        width:320px;
        margin:0;
    }
}