@media screen and (max-width: 425px) {
    #helpImgSinka {
        height: 272px;
    }

    .helpContactBtn{
        width: 60px;
    }
    #helpContacWh{
        background: url(../images/animators_mob/wh.png);
    }
    #helpContactTel{
        background: url(../images/animators_mob/tel.png);
    }
    /*-------------------------animation program*/



    .program1{
        width: 97%;
        margin-left: 3%;
    }
    header{
        height:700px;
        background: url("../images/animators_mob/Frame 87 (2).png");
        background-size: cover;
        background-position-y: 0;
    }
    #mainDialog{
        margin-top:10px;
    }
    #mainBtn {
        top:400px;
    }

}


@media screen and (max-width: 400px) {

    .aflex{
        margin: 3px;
    }
    .animatorsContainer{
        width: 142px;
        height: 146px;
    }
    #quests .questsFlex>div{
        width: 137px;
        height: 250px;

    }

    .questText{
        bottom: 40px;
    }
    .questText span{
        font-size: 20px;
        line-height: 24px;
    }

    #mainBtn {
        top: 410px;
        scale: 0.6;
    }
    .animatorsText span {
        font-size: 15px;
        line-height: 20px;
    }
    .animatorsBtn{
        height: 45px;
        width: 100px;
        bottom: 10px;
    }
    .animatorsBtn span{
        font-size: 12px;
    }

    .questsBtn{
        bottom: 40px;
        left: 18px;
    }
    .animatorsBackground {
        position: relative;
        width: 142px;
        height: 146px;
    }

}


