@media screen and (max-width: 770px) {
    header{
        height:900px;
        background: url("../images/animators_mob/Frame 87 (2).png");
        background-size: cover;
        background-position-y: -300px;
    }
    #mainDialog{
        margin-top:10px;
        font-size:35px;
        line-height: 32px;
    }
    .underTitle .visiblefirst{
        display:none;
    }
    #mainBtn {
        top:420px;
    }

    .navigation{
        display:none;
    }
    .flex{
        max-width: 520px;
    }
    .aflex{
        width: 45%;
    }
    .aflex img{
        width: 100%;
    }
    .animatorsContainer{
        width: 181px;
        height: 186px;
    }
    #animatorBravl{
        background: url("../images/animators_mob/bravl.png");
        background-size: cover;
     }
    #animatorBag{
        background: url("../images/animators_mob/bug.png");
        background-size: cover;
    }
    #animatorLol{
        background: url("../images/animators_mob/lol.png");
        background-size: cover;
    }
    #animatorPony{
        background: url("../images/animators_mob/pony.png");
        background-size: cover;
    }
    #animatorPeppa{
        background: url("../images/animators_mob/peppa.png");
        background-size: cover;
    }
    #animatorOptimus{
        background: url("../images/animators_mob/optimus.png");
        background-size: cover;
    }
    #animatorTrolls{
        background: url("../images/animators_mob/trolls.png");
        background-size: cover;
    }
    #animatorFairy{
        background: url("../images/animators_mob/fairy.png");
        background-size: cover;
    }
    #animatorSpider{
        background: url("../images/animators_mob/spider.png");
        background-size: cover;
    }
    #animatorCold{
        background: url("../images/animators_mob/cold.png");
        background-size: cover;
    }
    #animatorPatrol{
        background: url("../images/animators_mob/patrol.png");
        background-size: cover;
    }
    #animatorMickey{
        background: url("../images/animators_mob/mickey.png");
        background-size: cover;
    }
    #animatorTurtles{
        background: url("../images/animators_mob/turtles.png");
        background-size: cover;
    }
    #animatorMasks{
        background: url("../images/animators_mob/masks.png");
        background-size: cover;
    }


    /*-------------------------animation program*/
    .animatorsBtn{
        bottom: 20px;
    }
    .animatorsText{
        left: 25px;
        top: 22px;
    }
    .animatorsText span{
        font-size: 20px;
        line-height: 24px;
    }
    .bals40{
        font-size: 23px;
        line-height: 28px;
    }
    .bals58{
        font-size: 33px;
        line-height: 59px;
    }
    .animationProgram span{
        font-size: 16px;
        line-height: 20px;
    }
    .horizontal img{
        width: 56px;
    }
    .animationProgram{
        flex-direction: column;
    }
    .program1{
        width: 100%;
    }

    .horizontal{
        width: 100%;
        justify-content: start;

    }

    /*-------------quests*/

    .questsFlex{
        max-width: 400px;
    }
    .questText{
        bottom: 10px;
    }
    .questText span{
        font-size: 20px;
        line-height: 24px;
    }

    .questsBtn{
        left: 22px;
    }

    #quests .questsFlex>div {
         width: 181px;
         height: 283px;
        border-radius: 50px;
    }
    #quests .questsFlex img {
        width: 100%;
    }


    /*----------------help */
    .helpFlex{
        flex-direction: column;
    }
    .helpFlex h5 {
        font-size: 16px;
        line-height: 20px;
    }
    #helpImgSinka{
        width: 100%;
        height: 500px;
        background: url("../images/animators_mob/sinka_mob.png");
        background-size: cover;
    }
    .formFlex {
        width: 100%;
        margin-top: 0;
        margin-left: 0;
    }
    .hideInMobile{
        display: none;
    }
    .FlexHorizontal{
        flex-direction: column;
        align-items: center;
    }

    .FlexHorizontal div {
        margin-right: 0;
    }

    .application {
         padding-left: 0;
    }
    .formFlex h5 {

        margin-block-end: 4%;
        width: 100%;
        text-align: center;
    }

    #form{
        width: 100%;
        justify-content: center;
    }
    #telephone2 {
        width: 86%;
        height: 76px;
        margin: 0;
        left: 0;
        right: 0;
    }

    #sendbtn10{
        border: 0;
        margin-top: 5px;
        right: 4.5%;
        width: 73px;
        height: 70px;
        background: url(../images/animators_mob/helpBtn.png);
        background-position: center -20px;
        content: "";
        padding: 0;
    }

    .flexContacts{
        justify-content: center;

    }


}
